*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.single-page{
    width: 100vw;
    height: 130vh;
    background-color: black;
}

.single-page > .header{
    width: 100vw;
    height: 10vh;

    background-color: black;
    color: aqua;
    font-size: 30px;
    text-align: center;

    padding-top: 30px;
}

.single-page > img{
    width: 300px;
    height: 300px;

    margin-left: 550px;
}

.single-page > p {
    max-width: 60%;

    text-align: center;
    color: brown;

    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}


@media(max-width:1301px){
    .single-page > img{
    width: 300px;
    height: 300px;

    margin-left: 500px;
}}

@media(max-width:1151px){
    .single-page > img{
    width: 300px;
    height: 300px;

    margin-left: 400px;
}
}
/* labtop  */
@media(max-width:1024px){
    .single-page {
        height: 140vh;
    }
    .single-page > img{
        margin-left: 380px;
    }
}

/* tablet  */

@media(max-width:769px){
    .single-page > img {
        margin-left: 230px;
    }

    .single-page > p {
        max-width: 80%;
        margin-left: 10%;
        margin-top: 0;
    }
}

/* mobile-l */

@media(max-width:426px){
    .single-page{
        height: 160vh;
    }
    .single-page > img {
        margin-left: 50px;
    }
    .single-page > p {
        text-align: justify;
    }
}

/* mobile - m  */

@media(max-width:376px){
    .single-page{
        height: 120vh;
    }
    .single-page > img{
        width: 150px;
        height: 150px;
        margin-left: 110px;
    }
}

/* mobile-s  */

@media(max-width:321px){
    .single-page{
        height: 130vh;
    }
    .single-page > img {
        margin-left: 80px;
    }
}